In [2]:
import sys
import csv
import time
import re
from urllib.request import urlopen
import json
from pandas.io.json import json_normalize
import pandas as pd, numpy as np
import pickle 
import pprint
import requests
from datetime import date, datetime
from random import *
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys 
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup as bs
import os
import datetime
import shutil
import glob
from csv import DictWriter

pp = pprint.PrettyPrinter(indent=4)

options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('window-size=1000x500')
options.add_argument("start-maximized")
options.add_argument("disable-infobars")
options.add_argument("--disable-extensions")
options.add_argument("disable-gpu")

In [111]:
wb = pd.read_csv("../file/wine/winebar_0705.csv")
ws = pd.read_csv("../file/wine/wineshop_0705.csv")

In [112]:
wb.head(3)

,no,type,name,address,location url
0,b1,와인바,티비디(TBD),서울특별시 성동구 성수동1가 연무장길 6,https://www.google.com/maps/place/%ED%8B%B0%EB...
1,b2,와인바,팩피,서울특별시 성동구 성수동1가 왕십리로 136,https://www.google.com/maps/place/%ED%8C%A9%ED...
2,b3,와인바,positive zero lounge,서울특별시 성동구 성수동1가 연무장길 14-2,https://www.google.com/maps/place/positive+zer...

In [113]:
ws.head(3)

,no,type,name,address,location url
0,s1,와인샵,마농와인,서울특별시 강남구 서교동 선릉로111길 40 1층,https://www.google.com/maps/place/%EB%A7%88%EB...
1,s2,와인샵,와인샵친친,서울특별시 마포구 공덕동 467,https://www.google.com/maps/place/%EC%99%80%EC...
2,s3,와인샵,비노테카#202,서울특별시 서대문구 연희동 연희로11바길 2,https://www.google.com/maps/place/%EB%B9%84%EB...

In [114]:
wine = pd.concat([wb, ws], axis=0)

In [115]:
wine.head()

,no,type,name,address,location url
0,b1,와인바,티비디(TBD),서울특별시 성동구 성수동1가 연무장길 6,https://www.google.com/maps/place/%ED%8B%B0%EB...
1,b2,와인바,팩피,서울특별시 성동구 성수동1가 왕십리로 136,https://www.google.com/maps/place/%ED%8C%A9%ED...
2,b3,와인바,positive zero lounge,서울특별시 성동구 성수동1가 연무장길 14-2,https://www.google.com/maps/place/positive+zer...
3,b4,와인바,미만키,서울특별시 성동구 성수동1가 서울숲2길 6,https://www.google.com/maps/place/%EB%AF%B8%EB...
4,b5,와인바,TXITXARRO(치차로),서울특별시 성동구 성수동1가 왕십리로14길 22 클라우드앤 101호,https://www.google.com/maps/place/%EC%B9%98%EC...

In [116]:
wine.columns = ['no','type','name','address','loc_url']

In [117]:
len(wine)

399

In [118]:
wine[pd.isnull(wine).any(axis=1)]

       no type name address loc_url
314  b315  NaN  NaN     NaN     NaN
315  b316  NaN  NaN     NaN     NaN
316  b317  NaN  NaN     NaN     NaN
317  b318  NaN  NaN     NaN     NaN
318  b319  NaN  NaN     NaN     NaN
319  b320  NaN  NaN     NaN     NaN
320  b321  NaN  NaN     NaN     NaN
321  b322  NaN  NaN     NaN     NaN
322  b323  NaN  NaN     NaN     NaN
323  b324  NaN  NaN     NaN     NaN
324  b325  NaN  NaN     NaN     NaN

In [119]:
wine = wine[~pd.isnull(wine).any(axis=1)].reset_index(drop=True)

In [120]:
len(wine)

388

In [121]:
print(wine['loc_url'][3])

https://www.google.com/maps/place/%EB%AF%B8%EB%A7%8C%ED%82%A4/@37.5476319,127.0396553,17z/data=!3m1!4b1!4m5!3m4!1s0x357ca326de9be719:0x944d8793174a07ef!8m2!3d37.5476319!4d127.0396553?hl=ko

In [211]:
a = wine['loc_url'].str.extract(r'(https.*\/)(\@.*)')[1]
a = a.str.replace('@','')

# print(wine['loc_url'].str.extract(r'(.*\/)(\@.*\/)')[2])

In [212]:
a = a.str.split('/')

In [224]:
a = a.apply(lambda x: x[0]).str.split(',')

In [228]:
y = a.apply(lambda val: val[0])
x = a.apply(lambda val: val[1])

In [229]:
for i in range(len(a)):
    print(i, x[i], y[i])

0 127.0501802 37.5438641
1 127.0445693 37.5496496
2 127.0508916 37.5436176
3 127.0396553 37.5476319
4 127.0459162 37.5485033
5 127.0541796 37.5432088
6 127.0508916 37.5436176
7 127.0536948 37.5482598
8 127.0563968 37.5410226
9 127.0498004 37.536688
10 126.9120908 37.5589597
11 127.0192336 37.5483975
12 126.9795036 37.5598362
13 126.9795134 37.5598403
14 126.9781092 37.5569375
15 127.0118395 37.5483602
16 126.9867462 37.5671171
17 126.9877314 37.5643894
18 126.9888751 37.565926
19 127.0014248 37.5592198
20 127.1155726 37.3495997
21 127.0045069 37.5492388
22 127.1155726 37.3495997
23 126.9869193 37.538915
24 126.9719413 37.555232
25 127.0153996 37.5936255
26 126.9754534 37.5177986
27 126.9677188 37.5198092
28 126.9854894 37.5352166
29 127.0080156 37.535422
30 127.0069233 37.5291875
31 126.9912481 37.5338251
32 126.9858379 37.5370284
33 127.0630428 37.3495778
34 127.1155726 37.3495997
35 127.0371689 37.483817
36 127.0003577 37.538063
37 127.004382 37.5333194
38 126.9988203 37.5354627
39 127.1155726 37.3495997
40 127.0272813 37.5404392
41 127.0072773 37.5348679
42 127.007302 37.5349709
43 127.0003577 37.538063
44 127.0003281 37.5380721
45 126.9016088 37.4285682
46 127.1155726 37.3495997
47 126.9930004 37.3495158
48 127.0036351 37.5328235
49 127.0007919 37.5396132
50 126.9976072 37.5357515
51 126.997158 37.5355585
52 126.9990207 37.5358184
53 127.0005797 37.5305641
54 126.9848548 37.5414824
55 126.9729676 37.5704869
56 126.9764911 37.5713509
57 126.9930004 37.3495158
58 126.9736451 37.5683136
59 126.9930004 37.3495158
60 126.9843929 37.5779281
61 126.9666268 37.5800431
62 127.1155726 37.3495971
63 127.0630428 37.3495778
64 126.9293045 37.5687952
65 126.9195106 37.5650793
66 126.9218256 37.5651474
67 126.920291 37.5612414
68 127.1155726 37.3495997
69 126.9255386 37.562916
70 126.7808063 37.66984
71 126.9433535 37.5401386
72 126.9304733 37.553633
73 126.9294647 37.5543034
74 126.9930004 37.3495158
75 126.920357 37.5470196
76 126.9203651 37.5459096
77 126.9151046 37.5474401
78 126.912086 37.5464591
79 127.0630428 37.3495778
80 126.9123437 37.5469507
81 126.9121966 37.5545181
82 126.9664521 37.5331618
83 126.9297126 37.5681016
84 127.1155726 37.3495971
85 126.9281314 37.5668262
86 126.9279811 37.5666824
87 127.0731023 37.5338546
88 127.1155726 37.3495997
89 127.0347186 37.5284162
90 127.0388901 37.5255872
91 126.9849748 37.5411428
92 127.039678 37.5220611
93 127.0401592 37.5223903
94 127.0630428 37.3495778
95 127.0400206 37.5218981
96 127.0397652 37.5231159
97 5.529056 50.6246191
98 127.0430632 37.5230112
99 126.9431711 37.4556583
100 127.0418838 37.5262695
101 127.0430632 37.5230112
102 127.0460545 37.5101537
103 127.0506898 37.5262427
104 127.0388802 37.5256192
105 126.9946518 37.5457511
106 127.042073 37.5253918
107 127.0378039 37.5184075
108 127.0351894 37.5213335
109 127.0223574 37.5071685
110 126.9930004 37.3495158
111 127.0336483 37.526547
112 127.0084187 37.5288069
113 126.9935077 37.4993129
114 127.0356265 37.5264713
115 127.033975 37.525244
116 127.0341741 37.5251556
117 127.015383 37.5158092
118 127.0317189 37.5263168
119 127.0339593 37.5262801
120 -45.8376965 38.9777024
121 127.0342284 37.5230111
122 126.9619138 37.5365574
123 127.0329923 37.5262765
124 127.0363843 37.525291
125 127.0031346 37.5033306
126 127.0345196 37.5254139
127 127.0367246 37.5251232
128 127.0190625 37.5203637
129 126.9930004 37.3495158
130 127.0534857 37.5111492
131 127.1155726 37.3495997
132 126.9955804 37.4959158
133 127.1155726 37.3495997
134 127.0147079 37.515454
135 127.0079243 37.4819468
136 127.0111714 37.4817928
137 127.0079189 37.4830786
138 127.0404327 37.4797106
139 127.0357003 37.4770285
140 127.04137 37.4816672
141 127.1155726 37.3495971
142 127.0409825 37.4850088
143 127.0432876 37.4841561
144 126.9974865 37.4971695
145 126.994981 37.4986633
146 127.106766 37.5055708
147 127.0963766 37.506202
148 127.0872387 37.510496
149 128.567411 38.2445094
150 126.8259003 37.5696149
151 128.5817789 35.2363308
152 126.9930004 37.3495158
153 128.5834981 35.8835012
154 128.5963239 35.8719543
155 128.6067059 35.8675075
156 127.0630428 37.3495778
157 128.5963939 35.8615286
158 127.1155726 37.3495997
159 127.1395293 35.8189512
160 129.0624133 35.1584576
161 129.146349 35.1581219
162 -8.8481589 14.2525869
163 126.9930004 37.3495158
164 127.0630428 37.3495778
165 126.7737023 37.5679258
166 129.0562478 35.1589896
167 129.1113422 35.1491934
168 127.1155726 37.3495997
169 129.0523326 35.1540061
170 126.5570242 36.3723924
171 128.6091773 35.24645
172 126.5402963 33.5045919
173 126.5280316 33.4966362
174 126.225689 33.3899345
175 126.3757234 33.4414143
176 126.5374201 33.5153912
177 129.1868204 35.1625652
178 127.0097331 37.5350176
179 126.4454523 36.7802918
180 127.1060377 37.5048976
181 126.9870541 37.5378286
182 126.9907981 37.5650458
183 127.037409 37.526906
184 127.1066359 37.5105256
185 126.875024 37.5666353
186 127.0003577 37.538063
187 126.8532172 37.5593942
188 127.1155726 37.3495997
189 126.9930004 37.3495158
190 127.0630428 37.3495778
191 126.9880978 37.5650493
192 126.9930004 37.3495158
193 126.9888751 37.565926
194 127.0424904 37.4815826
195 127.0454435 37.5418635
196 6.9039835 46.4607618
197 126.9691062 37.5303121
198 126.9930004 37.3495158
199 127.0630428 37.3495778
200 126.9932082 37.563731
201 126.9908173 37.5657657
202 126.993041 37.5656443
203 126.9539513 37.4784736
204 127.0448597 37.5475445
205 129.1224127 35.1531149
206 126.9411757 37.5244641
207 127.1155726 37.3495997
208 126.8831033 37.5592882
209 127.1040729 37.3633013
210 127.0453926 37.5421331
211 126.9930004 37.3495158
212 126.9854171 37.5392274
213 126.9854204 37.5396572
214 126.9930004 37.3495158
215 126.791273 37.4625314
216 127.0185089 37.5478024
217 127.0140443 37.5423005
218 127.1155726 37.3495971
219 126.5260332 33.4983872
220 127.0630428 37.3495778
221 126.9132532 36.1631154
222 126.9235087 35.1512241
223 126.8355953 37.560938
224 127.1251499 37.3321768
225 127.0630428 37.3495778
226 5.8984118 43.1363557
227 126.9290513 37.48492
228 126.9627832 37.5256976
229 127.1155726 37.3495997
230 126.9948586 37.5345018
231 126.9998137 37.5337663
232 126.9930004 37.3495158
233 128.0831985 35.192141
234 127.0772327 37.5564238
235 128.1052942 35.1534012
236 126.9768514 37.5684799
237 127.0190632 37.5070329
238 129.1121472 35.1482601
239 127.0630428 37.3495778
240 127.0455795 37.5416714
241 127.2034332 37.2361572
242 126.9243304 35.1485813
243 127.0630428 37.3495778
244 126.9227727 37.5596754
245 127.0007172 37.5373542
246 129.1814497 35.1613328
247 127.0630428 37.3495778
248 127.0050839 37.5334596
249 127.1155726 37.3495997
250 126.9236495 37.55992
251 127.1155726 37.3495997
252 126.9518635 37.5116891
253 126.9688665 37.5730842
254 126.5259938 33.4949969
255 129.1643973 35.1602646
256 127.0482667 37.5398234
257 127.017759 37.5483737
258 127.0630428 37.3495778
259 126.9012034 37.5556229
260 126.9910905 37.5329237
261 127.1155726 37.3495971
262 128.5897303 35.8731718
263 126.9873451 37.5668845
264 126.9896053 37.5407977
265 128.6319054 35.8562057
266 127.038641 37.5253911
267 126.9930004 37.3495158
268 126.9902772 37.5282871
269 127.1155726 37.3495997
270 127.0630428 37.3495778
271 126.992328 37.5340433
272 127.072146 37.6604727
273 127.1155726 37.3495997
274 127.0630428 37.3495778
275 126.9195106 37.5650793
276 129.3294943 35.5459922
277 126.9984709 37.5355838
278 126.9986571 37.53559
279 127.0218818 37.5206925
280 126.9700753 37.5846734
281 127.0038072 37.5340927
282 127.0173598 37.5091993
283 127.1155726 37.3495971
284 127.0630428 37.3495778
285 127.041233 37.5083291
286 127.1155726 37.3495997
287 127.1155726 37.3495971
288 127.0073635 37.5345975
289 129.0937506 35.1931672
290 127.039814 37.5220433
291 127.0447274 37.5231796
292 126.9932101 37.4975642
293 127.0630428 37.3495778
294 126.9930004 37.3495158
295 126.9694102 37.53339
296 127.0630428 37.3495778
297 127.0630428 37.3495778
298 127.0343988 37.5263369
299 127.0411066 37.2773138
300 127.1155726 37.3495997
301 127.7306697 37.8832682
302 126.9907981 37.5650458
303 127.1155726 37.3495997
304 126.9930004 37.3495158
305 126.912086 37.5464591
306 128.6095563 35.8692533
307 127.0246248 37.5215686
308 127.1155726 37.3495971
309 127.1155726 37.3495997
310 126.9786715 37.5556123
311 126.9539513 37.4784736
312 126.7808063 37.66984
313 127.1155726 37.3495997
314 126.9138134 37.5536112
315 126.9484179 37.5448909
316 126.9261381 37.5692394
317 127.0076323 37.5341204
318 127.0161349 37.5288833
319 127.0607575 37.4944636
320 127.0377696 37.5236468
321 127.0880218 37.3900691
322 129.1239621 35.1740594
323 127.0349665 37.5220381
324 127.0960537 37.3915692
325 127.0905199 37.3895157
326 127.0353759 37.5031987
327 126.9800788 37.5393166
328 127.0211606 37.509885
329 127.0564945 37.5117699
330 127.0100514 37.5320485
331 127.0251663 37.527346
332 126.9381538 37.5487494
333 127.0016682 37.5332791
334 126.9980677 37.5373555
335 127.0013666 37.5374943
336 127.0032709 37.5317915
337 126.9931968 37.5313172
338 126.9843929 37.5779281
339 127.0575803 37.508543
340 127.0403033 37.5456385
341 127.0294306 37.5222918
342 127.052795 37.4900597
343 127.033218 37.4844708
344 126.8244346 37.6024004
345 126.8446006 37.6237148
346 126.9930004 37.3495158
347 126.8966742 35.1824919
348 129.1149229 35.1758259
349 126.2592606 33.4131921
350 126.9764911 37.5713509
351 127.1155726 37.3495997
352 127.1408752 35.8166123
353 126.9463761 37.4364286
354 127.0478837 37.5123827
355 127.0418897 37.5228611
356 126.9297065 37.5198207
357 127.030222 37.4997777
358 127.0371323 37.5035397
359 127.0967712 37.5060257
360 127.1155726 37.3495997
361 127.0630428 37.3495778
362 126.945412 37.5381523
363 126.9411757 37.5244641
364 126.9896774 37.5419165
365 126.9547066 37.4649055
366 126.9177316 37.5663102
367 127.0454435 37.5418635
368 126.9854204 37.5396572
369 127.1155726 37.3495971
370 126.9930004 37.3495158
371 127.1155726 37.3495997
372 126.9524962 37.5114949
373 126.4747421 33.4818011
374 127.1155726 37.3495997
375 127.0630428 37.3495778
376 127.1155726 37.3495997
377 126.9236495 37.55992
378 127.0860664 37.5451113
379 127.0976782 37.5132998
380 127.0782487 37.5087375
381 126.8008642 37.5628262
382 126.9691062 37.5303121
383 127.0454921 37.5044935
384 126.7808063 37.66984
385 127.1139767 35.8342053
386 126.8826331 37.5801902
387 127.1155726 37.3495997

In [231]:
wine['coord_x'] = x
wine['coord_y'] = y
wine.head(3)

,no,type,name,address,loc_url,coord_x,coord_y
0,b1,와인바,티비디(TBD),서울특별시 성동구 성수동1가 연무장길 6,https://www.google.com/maps/place/%ED%8B%B0%EB...,127.0501802,37.5438641
1,b2,와인바,팩피,서울특별시 성동구 성수동1가 왕십리로 136,https://www.google.com/maps/place/%ED%8C%A9%ED...,127.0445693,37.5496496
2,b3,와인바,positive zero lounge,서울특별시 성동구 성수동1가 연무장길 14-2,https://www.google.com/maps/place/positive+zer...,127.0508916,37.5436176

In [234]:
wine['coord_x'].isna().sum()

0

In [237]:
wine['type_en'] = wine['type'].apply(lambda x: 'winebar' if x=='와인바' else 'wineshop')
# df['new column name'] = \
# df['column name'].apply(lambda x: 'value if condition is met' if x condition else 'value if condition is not met')

In [239]:
wine.head(4)

,no,type,name,address,loc_url,coord_x,coord_y,type_en
0,b1,와인바,티비디(TBD),서울특별시 성동구 성수동1가 연무장길 6,https://www.google.com/maps/place/%ED%8B%B0%EB...,127.0501802,37.5438641,winebar
1,b2,와인바,팩피,서울특별시 성동구 성수동1가 왕십리로 136,https://www.google.com/maps/place/%ED%8C%A9%ED...,127.0445693,37.5496496,winebar
2,b3,와인바,positive zero lounge,서울특별시 성동구 성수동1가 연무장길 14-2,https://www.google.com/maps/place/positive+zer...,127.0508916,37.5436176,winebar
3,b4,와인바,미만키,서울특별시 성동구 성수동1가 서울숲2길 6,https://www.google.com/maps/place/%EB%AF%B8%EB...,127.0396553,37.5476319,winebar

In [240]:
wine = wine[['no', 'type', 'type_en', 'name', 'address', 'coord_x', 'coord_y']]

In [242]:
wine.to_csv("../file/wine/winemerge_0705.csv")